<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello..!</h1>
    <form action="/submit" method="post">
        <label for="science">Science:</label><br>
        <input type="text" id="science" name="science" value="0"><br><br>
        
        <label for="math">Math:</label><br>
        <input type="text" id="math" name="math" value="0"><br><br>
        
        <label for="history">History:</label><br>
        <input type="text" id="history" name="history" value="0"><br><br>
        
        <label for="literature">Literature:</label><br>
        <input type="text" id="literature" name="literature" value="0"><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>